.AdminIndex {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.AdminHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AdminFooter {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuVertical {
    background-color: rgb(245, 245, 245);
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.PageContent {
    padding-left: 12px;
}

@media(max-width:500px) {
    .admin_Footer {
        visibility: hidden;
    }
    .AdminHeader {
        border-bottom: none;
    }
    .AdminFooter {
        border-top: none;
    }
    .SideMenuVertical {
        background-color: white;
    }
}